@import 'tailwindcss';
.form-in{
  @apply border-b-2 focus:outline-none border-gray-400 px-3 py-2 mb-6 cursor-pointer;
}
.form-lab{
  @apply w-fit pr-3 text-gray-600 cursor-pointer;
}
.form-in:focus{
  @apply border-blue-500 shadow-md shadow-blue-200;
}
.form-s{
  @apply col-span-2 mx-auto px-8 py-2 mt-6 border-2 border-blue-400 rounded-lg bg-blue-100 text-blue-800 font-semibold transition hover:bg-blue-200 cursor-pointer;
}
.form-sb{
  @apply col-span-2 mx-auto px-8 py-2 mt-6 border-2 border-gray-600 rounded-lg bg-gray-400;
}
.error{
  @apply text-red-500 text-sm;
}
.form-s{
  @apply cursor-pointer col-span-2 mx-auto px-8 py-2 mt-6 border-2 border-blue-400 rounded-lg bg-blue-100 text-blue-800 font-semibold transition hover:bg-blue-200 active:shadow-md active:shadow-blue-300;
}
.title-div{
  @apply text-center mb-6 font-bold text-xl text-gray-600 ;
}
.site-details{
  @apply text-center text-stone-600 font-bold mb-2 focus:outline-none focus:border-transparent;
}
.site-cards{
  @apply border-b border-gray-300 p-4 grid grid-cols-4 gap-4;
}
.error{
  @apply text-red-500 text-sm;
}
.icons{
  @apply cursor-pointer;
}
.site-submit{
  @apply  cursor-pointer mr-3 mx-auto p-1 border-2 border-blue-400 rounded-lg bg-blue-100 text-blue-800 font-semibold transition hover:bg-blue-200 active:shadow-md active:shadow-blue-300;
}
.site-cancel{
  @apply mx-auto ml-3 p-1 border-2 border-red-600 rounded-lg bg-red-400 text-white cursor-pointer hover:bg-red-500 active:shadow-md active:shadow-red-300;
}